<div id="artist-{{ artist.id }}">
	<div class="c4mnd7m atm_9s_11p5wf0 atm_dz_1osqo2v">
		<div class="c1l1h97y">
			<a href="{{ path('app_program_show', {'slug': artist.slug}) }}">
				<div class="cy5jw6o">
					<div class="lxq01kf">
						<div class="m1v28t5c">
							<div class="c14dgvke">
								<div class="c1e9noat atm_9s_11p5wf0 atm_dx_1orwtfw">
									<div class="s1yvqyx7">
										<div class="d1l1iq8f">
											{% if not artist.imageName is empty %}
												<img src="{{ vich_uploader_asset(artist) }}" alt="{{ artist.name }}" class="idpfg47">
											{% else %}
												<img src="{{ asset('build/img/default-img.jpg') }}" class="idpfg47" alt="Default Image">
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="fb4nyux">
						<span class="t6mzqp7">
							{% if artist.name is defined and artist.name != null %}
								{{ artist.name|upper }}
							{% else %}
								...
							{% endif %}
						</span>
						<span class="r87loi5">
							{{ artist.programDateAt|format_datetime('short', 'none', locale: 'fr') }}
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
