
	<div class="py-3 my-4 " style="background-color: #f1f1f1">
		<ul class="nav justify-content-center border-bottom pb-1 mb-1">
			<li class="nav-item">
				<a href="{{ path('app_home') }}" class="nav-link px-2 text-body-secondary">Accueil</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_partner') }}" class="nav-link px-2 text-body-secondary">Partenaires</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_faq') }}" class="nav-link px-2 text-body-secondary">FAQ</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_map') }}" class="nav-link px-2 text-body-secondary">Carte interactive</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_privacy') }}" class="nav-link px-2 text-body-secondary">Politiques de confidentialités</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_notice') }}" class="nav-link px-2 text-body-secondary">Mentions légales</a>
			</li>

		</ul>
		<div class="d-flex justify-content-center">
			<a href="https://www.facebook.com" class="px-2 text-body-secondary" aria-label="Suivez-nous sur Facebook" target="_blank">
				<i class="bi bi-facebook" style="font-size: 24px;"></i>
			</a>
			<a href="https://www.instagram.com" class="px-2 text-body-secondary" aria-label="Suivez-nous sur Instagram" target="_blank">
				<i class="bi bi-instagram" style="font-size: 24px;"></i>
			</a>
			<a href="https://x.com" class="px-2 text-body-secondary" aria-label="Suivez-nous sur X" target="_blank">
				<i class="bi bi-x" style="font-size: 24px;"></i>
			</a>
			<a href="https://www.youtube.com" class="px-2 text-body-secondary" aria-label="Suivez-nous sur YouTube" target="_blank">
				<i class="bi bi-youtube" style="font-size: 24px;"></i>
			</a>
		</div>
		<p class="text-center text-body-secondary">&copy;  Festival Nation Sound 2024</p>
	</div>

